@-webkit-keyframes inputError {
    // 0%, 100% {
    //     padding-left: 5px;
    // }
    //
    //
    // 50% {
    //     padding-left: 10px;
    // }
}

@-webkit-keyframes clouds {
    // from { left: -5%; }
    // to { left: 100%; }
}

@-webkit-keyframes back-clouds {
    // from { left: 100%; }
    // to { left: -5%; }
}

@-webkit-keyframes ship {
    // 0%, 100% {
    //     -webkit-transform: rotate(-1deg);
    // }
    //
    // 50% {
    //     -webkit-transform: rotate(4deg);
    // }
}

@-webkit-keyframes login {
    // 0%, 40%, 44%, 100% {
    //     -webkit-transform: rotate(0deg);
    // }
    // 41% {
    //     -webkit-transform: rotate(-3deg);
    // }
    // 43% {
    //     -webkit-transform: rotate(3deg);
    // }
}

@-webkit-keyframes nemo {
    // 0%, 100% { -webkit-transform: rotate(-6deg); }
    // 50% { -webkit-transform: rotate(-2deg); }
}

@-webkit-keyframes nemo-move {
    // from { left: -5%; }
    // to { left: 105%; }
}

@-webkit-keyframes loggedin-login {
    0% { left: 0; height: auto; }
    99% { left: -200%; height: auto; }
    100% { left: -200%; height: 0px; }
}

@-webkit-keyframes loggedin-main {
    0% { right: -200%; height: 0px; }
    1% { right: -200%; height: auto; }
    100% { right: 0; height: auto; }
}

