@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";

@import "config";
@import "animations";
@import "buttons";
@import "typography";
@import "sky";
@import "forms";


// Login/Main page switching.
body {
    background-color: $site_bg;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

    #main {
        right: -200%;
        height: 0px;
    }

    &.logged-in {
        #login { @include animation(loggedin-login 1s forwards); }
        #main { @include animation(loggedin-main 1s forwards); }
    }

}

table {
    margin: 0 0 20px;
    padding: 0px;
    font-size: 12px;
    width: 100%;

    td, th {
        padding: 3px 10px;
        text-align: left;
        vertical-align: top;

        &:first-child { padding-left: 0px; }
        &:last-child  { padding-right: 0px; text-align: right; }

        &.amount {
            width: 80px;
        }

        &.date {
            width: 80px;
        }

        .fa-times {
            color: #a22;
            cursor: pointer;
        }

    }

}

.card {
    background-color: white;
    padding: 1px 15px;
    margin: 10px;
    color: #333;
    border-radius: 5px;
    overflow:hidden;
    transition: 1s;

    img {
        float: left;
        margin-top: 12px;
        margin-right: 10px;
        border-radius: 3px;
        width: 30px;
        height: 30px;
    }

    .payment {
        text-align: center;
        margin-bottom: 10px;
    }

    .graph {
        display: none;
        margin-bottom: 30px;
    }

    &.closed {
        max-height: 50px !important;
    }
}

#logo { margin: 50px 0; }

// Layout

body {
		position: relative;
}

.container {
		display: flex;
		width: 80%;
		margin: 0 auto;

		.debtList, .groupList, .aside {
				margin-bottom: 40px;	
		}

		.debtList {
				flex: 5;
				margin: 0 30px;
		}

		.groupList {
				flex: 3;
		}

		.aside {
				flex: 4;
		}

}

#footer {
    width: 100%;
    padding: 15px;
		position: absolute;
		bottom: 0px;

    text-align: center;
    font-family: $header_font;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;

    color: darken($beach-color, 50%);
    box-shadow: 0px -30px 100px #003333;
    background-color: $beach-color;
}

#main, #login {
		padding-bottom: 80px;
}

.debtList, .groupList, .aside {
		position: relative;
		transition: 0.5s;
		opacity: 0.95;

		h2 {
				padding: 10px 15px;
		}
}

#overview, #user, #details {
		border-radius: 7px;
		padding: 1px;
}

#main, #login {
		width: 100%;
    margin: 0;
    overflow: hidden;
    max-height: 100000px;

    z-index: 100;
    transition: 1s;

    .column {

        @include span-columns(4);
        position: relative;
        border-radius: 7px;

        transition: 0.5s;
        opacity: 0.95;
        margin-bottom: 40px;

        h2 {
            padding: 10px 15px;
        }

        &.wide { @include span-columns(5); }
        &.wider { @include span-columns(6); }
        &.narrow { @include span-columns(3); }

    }

}

#login-options {
    @include shift(3);
    background-color: $right_col_bg;
    color: white;

    h3 {
        text-align: left;
    }
    
    .card {
        text-align: center;
        padding: 20px 0;
    }

    button#facebook-login {
        @include button(#3b5998);
        @include animation(login 10s ease-in-out infinite);
    }

    button#facebook-register {
        @include button(#627aad);
    }

}

#user {
    background-color: $left_col_bg;
    color: white;
    z-index: 10;

    #new-debt {
        div {
            padding: 5px 0;

            &.create-button { text-align: center; }
        }

        #who {
            width: 44%;
        }

        #type {
            width: 28%;
        }

        #amount {
            width: 25%;
            float: right;
        }

        #description { width: 100%; }
    }

}

#overview {

    background-color: $center_col_bg;
    z-index: 5;

    h2 {
        color: white;
    }
    
    > ul {
        list-style: none;
        padding: 0px;

        li {
            color: white;
            background-color: rgba(255,255,255,0.1);
            border-top: 1px solid rgba(255,255,255,0.1);
            border-bottom: 1px solid rgba(255,255,255,0.1);
            margin-bottom: 1px;
            padding: 20px 15px;

            &:hover {
                cursor: pointer;
                background-color: rgba(255,255,255,0.2);
                i {opacity: 1;}
            }

            &.selected {
                background-color: rgba(255,255,255,0.4);
                i {opacity: 1;}
                &:hover{cursor: normal;}
            }

            i {
                margin-top: 3px;
                opacity: 0.5;
                &.fa-arrow-circle-right { float: right; }
                transition: 0.2s;
            }

            &.add {
                font-size: 18px;
                text-align: center;
                padding: 15px;
            }

        }
    }

}

#details {
    color: white;
    background-color: $right_col_bg;
}

#login {
      .section {
        margin-top: 200px;
        padding: 20px 0;
      }

      h1, h2 {
        padding-bottom: 10px;
      }
}

#login.off {
  top: -1000px;
}

.seaweed {
    position: absolute;
    bottom: 35px;
    right: 20%;
}

.nemo {
    position: absolute;
    top: 400px;
    left: 5%;

    @include animation(nemo 2s infinite, nemo-move 300s infinite);
}

@import "../bower_components/font-awesome/scss/font-awesome.scss";
