$color1: #b53;
$color2: #b53;
$color3: #374140;
$color4: #ffb03b;
$color5: #099;
$color6: white;
$color7: #044;

$sky-color: rgb(123,219,235);
$beach-color: rgb(255,223,138);

$site_bg: $color7;
$header_bg: transparent;

$left_col_bg:   $color1;
$center_col_bg: $color2;
$right_col_bg:  $color5;

$header_font: "Sanchez";
$body_font: "Open Sans";
