@import "../bower_components/bourbon/dist/bourbon";
@import "config";
@import "animations";

input[type=text], input[type=password], select{
    height: 30px;
    border: 1px solid #999;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    &:focus { outline: none; }

    &.error {
        @include animation(inputError 0.3s);
        @include animation-iteration-count(2);
        border-color: darken($color1, 10%);
    }

}

select {
    padding-right: 22px;
}

.fa-caret-down {
    margin-top: 9px;
    margin-left: -16px;
    margin-right: 13px;
    cursor: pointer;
    z-index: 1;
}

.createDebt {
    .who { width: 120px; }
    .amount { width: 65px; }
    .description { width: 100%; }

    > div {
      @include display(flex);
    }

    select, input {
      @include flex(1);
      z-index: 2;
      background-color: transparent;
    }

    .who {
      @include flex(2);
    }

    .create-button {
      display: block;
    }

}
