body {
  background-image: url(http://pic1.thanksearch.com/9/2013/0615/85/f/679/1600x1200x75x0x0x1.jpg);
  font-family: Rambla;
  font-size: 14px;
}

h1, h2, h3 {
  font-size: 16px;
  font-family: Sanchez;
}

h1 {
  margin: 0px;
}

h2 {
  margin-bottom: 20px;
}

.c {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  border-top: none
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

select, input {
  height: 37px;
  font-family: Rambla !important;
  color: rgba(0,0,0,0.75);
}

/***************************/
/* HEADER
/***************************/

#header {
  background-color: rgba(30,30,30,0.95);
  padding: 15px 30px;
  border: 1px solid #444;
  border-bottom: none;
  border-top: none
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

  #header h1 {
    margin: 0;
    color: white;
    font-size: 16px;
  }

  #header .sub-nav {
    margin-bottom: 0px;
    margin-top: -1px;
  }

  dl, dt, dd {
    font-size: 14px !important;
    margin-bottom: 0px;
  }

  #header h1 strong{
    font-size: 20px;
    font-weight: normal;
  }

  #header h1 dl{
    float: right;
    font-family: Rambla;
  }

/***************************/
/* MAIN
/***************************/

#main {
  min-height: 410px;
}

#debtview .debt {
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.5);
}
#debtview .debt:first-child { border-top: none; }
#debtview .debt:last-child { border-bottom: none; }

#debtview .debt .heading {
  font-weight: bold;
}

#debtview .debt .heading i {
  margin: 0 5px;
}

#debtview .debt .amount{
  float: right;
}

#debtview .debt .description{
  display: none;
}

.person-debt {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.5);
}
.person-debt:first-child{ border-top: none; padding-top: 0px; }
.person-debt:last-child{ border-bottom: none; }

.debt-details {
  margin: 15px 0px 10px 50px;
}

.debt-details li {
  margin: 5px 0;
  font-size: 14px;
}

.debt-details li .amount {
  float: right;
}
