.settings {
  input {
    margin-bottom: 15px;
  }

  input[type=radio] {
    margin-right: 5px;
  }

  label {
    margin-right: 10px;
    margin-top: 5px;
  }

  div {
    margin-bottom: 10px;
  }
}
