@import "compass/reset";

$sidebar_c: #222;
$logo_c:    #599;
$header_c:  rgba(0,0,0,0);

body {
  font-family: Rambla;
  font-size: 14px;
}

#background {
  position: absolute;
  left: 0px;
  height: 100%;

  div {
    height: 100%;
    background-color: $sidebar_c;
  }
}

h1, h2, h3 {
  font-size: 16px;
  font-family: Sanchez;
}

h1 {
  margin: 0px;
}

h2 {
  margin-bottom: 20px;
}

.c {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  border-top: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

select, input {
  height: 37px;
  font-family: Rambla !important;
  color: rgba(0,0,0,0.75);
}

/***************************/
/* MAIN
/***************************/


#main {

  position: relative;

  #sidebar {
    padding: 0;
    -webkit-font-smoothing: antialiased;

    .sidebar-section {
      padding: 20px 0.9375rem;
    }

    h1 a, h2{
      color: white;
      font-weight: normal;
    }

    #form {
      background-color: $sidebar_c;
    }

    #recent {
      margin-top: -20px;
    }

    a {color: #ddd;}

  }

  #users {

    #group {
      padding-top: 15px;
      font-size: 1.0625rem;
      height: 45px;
    }

  }

  #sidebar, #total {
  }

}

#debtview {

  .debt {
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.1);

    .heading {
      font-weight: bold;

      i {
        margin: 0 5px;
      }

    }

    .amount {
      float: right;
      color: white;
    }

    .description {
      display: none;
    }

  }

  .debt:first-child { border-top: none; }

  .debt:last-child { border-bottom: none; }

}

.person-debt {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.5);

  .graph {
    height: 100px;
  }

  table{

    margin: 20px 0;

    tr.debt {background-color: rgba(255,200,200,1)}
    tr.loan {background-color: rgba(200,255,200,1)}

  }

}

.person-debt:first-child{ border-top: none; padding-top: 0px; }
.person-debt:last-child{ border-bottom: none; }

.debt-details {
  margin: 15px 0px 10px 0px;

  li {
    margin: 15px 0;
    font-size: 14px;

    .amount {
      float: right;
    }

    .label {
      margin-bottom: 0 !important;
    }
  }

}
