/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$colour1: rgba(151,187,205, 1);
$colour2: rgba(200,100,100, 1);

svg.reactGraph {

  path {
    stroke-width: 2px;
    fill: none;
  }

  circle {
    stroke: white;
    stroke-width: 1px;
  }

  .axis {
    stroke: #999;
    stroke-width: 1px;
  }

  path.fill { opacity: 0.5; }

  path.fill:hover { opacity: 0.7; }

  path.colour1 { stroke: $colour1; }
  path.fill.colour1, g.fill.colour1 { fill: $colour1; }

  path.colour2 { stroke: $colour2; }
  path.fill.colour2, g.fill.colour2 { fill: $colour2; }

  .positive { clip-path: url('#positive'); }
  .negative { clip-path: url('#negative'); }

}
